.mainDiv{
  margin-top: 200px;
  background: #A3EDFF;
  display: flex;
  justify-content: space-around;
}

.sub1{
  //background: yellow;
  border-radius: 5px ;
  box-shadow: 2px 5px black;
}

.sub2{
  //background: red;
  border-radius: 5px ;
  box-shadow: 2px 5px black;
}

.sub3{
  //background: blue;
  border-radius: 5px ;
  box-shadow: 2px 5px black;
}

body{
  background: #F7F7F7;
}

.image1{
  margin: 10px;
  padding: 20px;
  border-radius: 30px ;
  width: 180px;
  height: 120px;
}

.image2{
  margin: 10px;
  padding: 20px;
  border-radius: 30px ;
  width: 180px;
  height: 120px;
}

.image3{
  margin: 10px;
  padding: 20px;
  border-radius: 30px ;
  width: 180px;
  height: 120px;
}

h1{
  text-align: center;
}

@media all and (max-width:768px) {
  .mainDiv{
    flex-wrap: wrap;
    height: auto;
  }

  .sub1{
    width: 100%;
    display: flex;
  }

  .sub2{
    width: 100%;
    display: flex;
  }

  .sub3{
    width: 100%;
    display: flex;;
  }

}
